---
layout: splash
title: "Jason Savery"
permalink: /
header:
  overlay_color: "#5e616c"
  cta_label: "About"
  cta_url: "/about/"
excerpt: 'Mechanical design engineer experienced in CAD Design, prototyping, making, and testing electromechanical systems'

feature_row:
  - image_path: "ediv-2016-roofsystem-render.jpg"
    alt: "CAD"
    title: "CAD design"
    excerpt: "Experienced in designing parts and assemblies in solidworks for prototyping and production"
    url: "/portfolio/2-roof/"
    btn_label: "Learn More"
  - image_path: "ediv-2016-trunk-incar-rot.jpg"
    alt: "prototype"
    title: "Prototyping and fabrication"
    excerpt: "Hands on prototyping including fabrication and assembly of the finished product. Skilled in electromechanical system integration"
    url: "/portfolio/3-trunk/"
    btn_label: "Learn More"
  - image_path: "lh-lastflight-spl.jpg"
    alt: "aero"
    title: "Design, Build, Test"
    excerpt: "Experienced in many parts of the engineering process from initial design, to construction, then testing the product"
    url: "/portfolio/4-2014DBF/"
    btn_label: "Learn More"
author_profile: false
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


